/Task001OOP/target/
Task3/.idea/checkstyle-idea.xml
Task5/target/
Lab8/target/
Lab8/target/classes/by/training/Main.class
task9/target/classes/
task9/target/classes/by/training/task9/App.class
task9/target/classes/by/training/task9/App.class
task9/target/classes/by/training/task9/entity/CompoundCharacter.class
task9/target/classes/by/training/task9/service/TextParser.class
task9/all.log
task9/target/classes/by/training/task9/App.class
task9/target/classes/by/training/task9/App.class
task9/target/classes/by/training/task9/entity/CompoundCharacter.class
