<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>by.training.task2_4.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DomServlet</servlet-name>
        <servlet-class>by.training.task2_4.controller.DomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DomServlet</servlet-name>
        <url-pattern>/DomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaxServlet</servlet-name>
        <servlet-class>by.training.task2_4.controller.SaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaxServlet</servlet-name>
        <url-pattern>/SaxServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaxServlet</servlet-name>
        <servlet-class>by.training.task2_4.controller.StaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaxServlet</servlet-name>
        <url-pattern>/StaxServlet</url-pattern>
    </servlet-mapping>
</web-app>